@import 'variables';
@import 'helpers';


.cover{
    @include bg-default;
    padding: 130px;
}
    

.infos, .history, .dados h3{

    color: $theme-color-2;
    font-family: Poppins-Bold;
}

.infos p{

    color: $theme-color-1;
    font-family: Poppins-Regular;
}


.infos{

    @include media-breakpoint-down(md) {

        margin-top: 50px;


    }

    @include media-breakpoint-up(md) {

        margin-top: 50px;

    }

    @include media-breakpoint-up(xl) {
        padding: 70px;
       
    }

}


.photo{

    @include media-breakpoint-down(md) {
        margin-bottom: 50px;


    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(xl) {
        padding: 70px;
        
       
    }

}

.photo img{

    @include media-breakpoint-down(md) {

        width: 100%;

    }

    @include media-breakpoint-up(md) {

        width: 100%;

    }

    @include media-breakpoint-up(xl) {
       width: 100%;
       
       
    }

}

.history{

    @include media-breakpoint-down(md) {

        margin-top: 50px;


    }

    @include media-breakpoint-up(md) {

        margin-top: 50px;

    }

    @include media-breakpoint-up(xl) {
        padding: 10px 70px;
       
    }

}

.dados{

    @include media-breakpoint-down(md) {

        margin-top: 50px;


    }

    @include media-breakpoint-up(md) {

        margin-top: 50px;

    }

    @include media-breakpoint-up(xl) {

        padding: 10px 70px;
       
    }

}
.dados img{

    @include media-breakpoint-down(md) {

        width: 90%;
    }

    @include media-breakpoint-up(md) {

        width: 85%;

    }

    @include media-breakpoint-up(xl) {

        width: 53%;
       
    }

}




.btn-warning {
    color:$theme-color-3;
    background-color: transparent;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
  }
  
  .btn-warning:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
  }


    