
<div class="container-fluid">
    <div class="row">
      <div class="col-12 cover" style="background-image: url(./assets/backgrounds/cover-adibracan.png)">
      </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-md-12 infos">
      <h3>A Dibracam</h3>
      <p>
          A Dibracam Comercial Ltda., concessionária MAN LATIN AMERICA, sediada em Santo André, com filiais em São Paulo e Sorocaba, conta com uma equipe de profissionais especializados em apresentar o melhor veículo para o seu negócio. <br><br>Possui uma equipe de vendas treinada e excelente estrutura de atendimento, ampla oficina com equipamentos de alta tecnologia e um completo estoque de peças e acessórios originais Volkswagen.A Dibracam é uma das mais sólidas e bem sucedidas empresas no setor e se destaca como uma das principais concessionárias MAN LATIN AMERICA. Focada na satisfação contínua dos seus clientes, na valorização de seus colaboradores e na geração de retorno dos investimentos. Somos certificados pela ISO 9001, um dos mais importantes certificados de qualidade pela excelência aplicada em nossos serviços. <br><br>
      </p>

    </div>
    <div class="col-lg-5 col-md-10 photo">
      <img src="./assets/photos/servicos.png" alt="servicos">
    </div>
  </div>
</div>
<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 history">
        <h3>Nossa História</h3>

    </div>
  </div>
</div> -->

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 dados text-center">
          <h3 class="text-left">Dados e Certificados</h3>
          <img src="./assets/icons/icons-dados-1.png" class="my-5" alt="dados">

      </div>
    </div>
  </div>


