@import 'variables';
@import 'helpers';




#navbar.mobile {
  //.phones {
  //   small {
  //       display: none;
  //   }
  //}



  .logo {
    position: relative;
    right   : 20px;

  }

  .logo img {
    width: 45%;


  }

  .logo-man {
    display: none;

  }


  .nav-list {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    background-color: red;
    padding-top     : 0;
    text-align      : center;
    overflow        : hidden;
    max-height      : 100px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(xl) {}

    ul {
      padding: 0;

      li {
        padding: 20px 15px;
      }
    }

  }


  /*&.show  {
      height: 100%;
      .nav-list {
          display    : block;
          max-height : 100%;
          padding-top: 50px;


          a{
            color: white;
          }
      }
  }*/

}

.nav-bar {
  @include media-breakpoint-down(md) {
    padding: 0;

  }

  @include media-breakpoint-up(md) {
    padding: 0;

  }

  @include media-breakpoint-up(xl) {
    padding: 15px 10px;
  }
}

/*.toggle-button {

  float     : right;
  margin-top: -16%;
  cursor    : pointer;

}*/

.logo img {
  padding: 20px 5px;

  z-index: 5;
}

.phones small p {
  color      : $theme-color-2;
  font-family: Asap-Regular;
}

nav ul li {
  display    : inline-block;
  list-style : none;
  padding    : 7px;
  padding-top: 25px;

  a {
    font-size      : 15px;
    color          : $theme-color-2;
    font-family    : Poppins-Bold;
    text-decoration: none;
  }
}

#navbar ul a:hover,
#navbar ul a.active {

  color: $theme-color-3;

}

/*CONFIGURACOES MENU MOBILE*/

.mobile {
  @include media-breakpoint-down(md) {
    display: block;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.desktop {
  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.menu-mob {
  position: absolute;
  top     : 4%;
  left    : 75%;
}

#menuToggle {
  display            : block;
  position           : relative;
  top                : 15%;
  left               : 90%;
  z-index            : 1;
  -webkit-user-select: none;
  user-select        : none;
  width              : 100%;
}

#menuToggle a {
  text-decoration: none;
  color          : $theme-color-2;
  font-size      : 1.9em;
  transition     : color 0.3s ease;
}

#menuToggle input {
  display              : block;
  width                : 100%;
  height               : 100%;
  position             : absolute;
  top                  : 0;
  left                 : 0;
  cursor               : pointer;
  opacity              : 0;
  z-index              : 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display         : block;
  width           : 33px;
  height          : 4px;
  margin-bottom   : 5px;
  position        : relative;
  background      : $theme-color-2;
  border-radius   : 3px;
  z-index         : 1;
  transform-origin: 4px 0px;
  transition      : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity   : 1;
  transform : rotate(45deg) translate(-2px, -1px);
  background: $theme-color-2;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity  : 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  text-align            : left;
  position              : absolute;
  top                   : -145%;
  right                 : -100%;
  padding               : 450% 0 0 150%;
  width                 : 370px;
  height                : 700px;
  background            : $theme-color;
  list-style-type       : none;
  -webkit-font-smoothing: antialiased;
  transform-origin      : 0% 0%;
  transform             : translate(0, -100%);
  transition            : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 2% 0;

}

#menuToggle input:checked~ul {
  transform: none;
}

.link {
  position: relative;
  left    : -65%;
}

.logo-mobile-menu {
  position: relative;
  top     : -22%;
  left    : -7%;
}