<div class="container-fluid" id="navbar" > <!--(click)="close($event)" [ngClass]="{'mobile': helper.isMobile, 'show': toggled}"-->
    <div class="row nav-bar">
        <div class="col-lg-2 logo">
            <a routerLinkActive='active' routerLink='/home'>
                <img src="./assets/logos/logo-nav.png" alt="logo-nav">
            </a>
        </div>
        <!--MENU MOBILE-->
        <nav class="menu-mob mobile" role="navigation" style="z-index: 999;">
            <div id="menuToggle">
                <input type="checkbox"/>
                <span class="span"></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a routerLinkActive='active' routerLink='/home'>
                        <img class="logo-mobile-menu" src="./assets/logos/logo-nav.png" alt="logo-nav">
                    </a>
                    <li class="link">
                        <a routerLinkActive='active' routerLink='/home'>
                            Home
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/adibracan'>
                            A Dibracam
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/veiculos'>
                            Veículos
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/pneus'>
                            Peças e Pneus
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/servicos'>
                            Serviços
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/vender'>
                            Vender
                        </a>
                    </li> <br/>
                    <li>
                        <a routerLinkActive='active' routerLink='/contact'>
                            Contato
                        </a>
                    </li> <br/>
                </ul>
            </div>
        </nav>
        <div class="col-lg-6 px-0 nav-path desktop">
            <nav class="nav-list">
                <ul>
                    <li>
                        <a routerLinkActive='active' routerLink='/home'>
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/adibracan'>
                            A Dibracam
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/veiculos'>
                            Veículos
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/pneus'>
                            Peças e Pneus
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/servicos'>
                            Serviços
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/vender'>
                            Vender
                        </a>
                    </li>
                    <li>
                        <a routerLinkActive='active' routerLink='/contact'>
                            Contato
                        </a>
                    </li>
                </ul>
              </nav>
        </div>
        <div class="col-lg-2 phones mobile desktop">
            <small><p> (11) 4993-7000 Santo André</p></small>
            <small><p>(11) 3724-8888 São Paulo</p></small>
            <small><p>(15) 3229-6666 Sorocaba</p></small>
        </div>
        <div class="col-lg-2 logo-man mobile desktop">
            <img src="./assets/logos/logo-man.png" alt="logo-man">
        </div>
        <!--<div class="col-md-2 menu">
          <a href="javascript:void(0)" (click)="toggle()" *ngIf="helper.isMobile && !toggled"  class="toggle-button">
            <img src="./assets/icons/hamburguer.png" alt="">
        </a>
        </div>-->
    </div>
  </div>

