
<div class="container-fluid">
  <div class="row">
    <div class="col-12 cover" style="background-image:
      url(./assets/backgrounds/cover-servicos.png)">
    </div>
  </div>
</div>

<div class="container-fluid mt-0">
  <div class="row">
    <div class="col-lg-6 col-md-12 infos">
      <h3>Serviços</h3>
      <h6 class="mt-5">A DIBRACAM conta com diversos serviços especializados:</h6>
      <ul>
        <li>Funilaria e Pintura, com Cabine de 15m e Estufa</li>
        <li>Atendimento a todas as Companhias de Seguro</li>
        <li>Box para Lavagem e Lubrificação</li>
        <li>Personalização e Instalação de Acessórios</li>
        <li>Serviços de Reboque para toda Grande São Paulo</li>
        <li>Dinamômetro para Testes de Suspensão e Freios</li>
        <li>Alinhamento Eletrônico</li>
        <li>Atendimento com Contrato de Manutenção Próprio</li>
        <li>Atendimento com Contrato de Manutenção em Domicílio</li>
        <li>Atendimento de 100% das Necessidades do Frotista</li>
        <li>Técnicos e Mecânicos Treinados pela Montadora</li>
        <li>Concessionário com Ferramental e Instalações Modernas</li>
        <li>Ecologicamente Correto no Tratamento dos Resíduos</li>
      </ul>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 form">
        <app-form-contact 
        [emailConfig]="{
          to_email: 'andre@dibracam.com.br',
          to_name: 'Dibracam',
          cc_emails: ['nasser@dibracam.com.br', 'ne@dibracam.com.br']
        }"
        titleForm="Agende seu serviço" 
        subject="Agendamento de serviço">
        </app-form-contact>
    </div>
  </div>
</div>
