
<div class="container-fluid" >
    <div class="row" *ngIf="post">
        <div class="col-12 cover" style="background-image:url(./assets/photos/blog-cover.png)">

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-10 col-md-12 post mx-auto">
            <h1>{{ post?.title }}</h1>
            <h6>{{ post?.subtitle }}</h6>
            <span  *ngIf="post">
                <a  *ngFor="let tag of post.tags"><small class="bg-orange ">{{ tag.name }}</small> <span  class="tag-item"></span></a>
                <small *ngIf="post.created_at !== '0000-00-00 00:00:00'">
                    {{ post.created_at | date:'fullDate'}}
                </small>
            </span>
            <div class="post-description mt-4" id="descript" #descript>

            </div>
        </div>
    </div>
</div>