@import 'variables';
@import 'helpers';

.cover{
    @include bg-default;
}

form{
    background-color: $theme-color;
    
    @include media-breakpoint-down(md) {
        padding: 30px;
    }

    @include media-breakpoint-up(md) {
        padding: 30px;

    }

    @include media-breakpoint-up(xl) {
        padding: 30px;
    }
}

form h5{
    color: $theme-color-3;
    font-family: Poppins-Bold;
}

form input{
    color: #4E4E4E;
    font-family: Poppins-Regular;
    
}

.form-group{
        
    border-bottom: 1px solid rgba(112,112,112,0.5);

}


.fale-conosco h2{
    color: $theme-color-3;
    font-family: Poppins-Bold;
    background-color: $theme-color;
    padding: 10px;
    width: 53%;
    letter-spacing: 1px;

}



.fale-conosco h4{
    color: $theme-color;
    font-family: Poppins-Bold;
    background-color: $theme-color-3;
    padding: 10px;
    width: 88%;
    letter-spacing: 1px;

}


.fale-conosco p{
    color: $theme-color;
    font-family: Asap-Regular;
    background-color: $theme-color-3;
    padding: 10px;
    width: 80%;

}




.fale-conosco{

    @include media-breakpoint-down(md) {


    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(xl) {
        padding: 120px;
       
    }

}






.form{

    @include media-breakpoint-down(md) {


    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(xl) {
        padding: 50px;
        position: relative;
        right: 30px;
       
    }

}
.btn-warning {
    color:$theme-color-3;
    background-color: transparent;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
  }
  
  .btn-warning:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
  }

  .btn-warning-1 {
    color:#fff;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
  }
  
  .btn-warning-1:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
  }
