<div class="container-fluid cover" style="background-image:
  url(./assets/backgrounds/cover-contato.png)">
    <div class="row">
        <div class="col-lg-6 mt-1 fale-conosco">
            <h2>Fale Conosco</h2>
            <h4>A DIBRACAM quer ouvir você!</h4>
            <p>
                <small><strong>Sorocaba</strong></small><br>
                <small>(15) 3229-6666</small><br>
                <small>Rodovia Raposo Tavares Km95 + 405MTS Sorocaba –SP<br>Cep:
          18023-000</small>
                <br>
                <small><strong>Santo André</strong></small><br>
                <small>(11) 4993-7000</small><br>
                <small>Avenida dos Estados, 1900 - Vila Metalúrgica</small>
                <br>
                <small><strong>São Paulo</strong></small><br>
                <small>(11) 3724-8888</small><br>
                <small>Av. Corifeu de Azevedo Marques, 345 - Butantã</small>
            </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 form mb-3 mx-auto">

            <div *ngIf="sended" class="text-center bg-light rounded shadow-lg h-50 pt-5">
                <h4>Enviado com sucesso! Obrigado por entrar em contato.</h4> 
            </div>
            <form (submit)="send()" [formGroup]="form" class="w-100 mx-auto text-right" *ngIf="!sended">
                <h5 class="pb-4 pt-2 text-left text-uppercase"></h5>
                <div class="form-group">
                    <input type="text" class="form-control bg-color-form rounded-0 border-0" name="contato-nome" 
                    formControlName="name" id="contato-nome" placeholder="Nome" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control bg-color-form rounded-0  border-0" 
                    name="contato-email" 
                    id="contato-email" 
                    placeholder="Email" 
                    formControlName="email"
                    required>
                </div>
                <div class="form-group">
                    <input type="text" 
                    class="form-control bg-color-form rounded-0 border-0" 
                    name="contato-cellphone" 
                    id="contato-cellphone" 
                    placeholder="Telefone" 
                    formControlName="cel"
                    required>
                </div>
                <div class="form-group">
                    <select name="contato-solucao" 
                    id="contato-solucao" 
                    class="form-control bg-color-form rounded-0 border-0" 
                    formControlName="subject"
                    required>
                        <option value="" selected>Assunto</option>
                        <option value="sugestao">Sugestão</option>
                        <option value="reclamacao">Reclamação</option>
                        <option value="compra">Comprar</option>
                        <option value="elogio">Elogio</option>
                        <option value="duvida">Dúvidas</option>
                        <option value="trabalhe">Trabalhe Conosco</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="contato-mensagem" 
                    class="form-control bg-color-form rounded-0" 
                    formControlName="text"
                    id="contato-mensagem" cols="30" rows="4" placeholder="Mensagem" required></textarea>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="campo_form">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-warning-1 rounded-2 py-2 text-center btn-block mt-2 text-uppercase w-100">Enviar</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10">
                        <div class="campo_form">
                            <button type="button" (click)="form.reset()" class="btn btn-warning rounded-2 py-2 text-center btn-block mt-2 text-uppercase w-100">
                                Limpar
                            </button>
                        </div>
                    </div>
                </div>


            </form>

        </div>
    </div>
</div>