@import 'variables';
@import 'helpers';

.cover {
    min-height: 60vh;
    @include bg-default();
}


.category-label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $theme-color-3;
    font-family: Poppins-Bold;    
    color: $theme-color;
    padding: 1px 10px 2px 25px;
    font-size: 20px;
    cursor: pointer;

    &.white {
        background-color: #FFF;
        font-size: 15px;
        .brandcup-item {
            color: $theme-color-3;
            display: inline;
        }
    }

    &.first {
        float: left;
        padding-left: 80px;
        cursor: default;
        position: relative;
    }

    &.dark {
        background-color: $theme-color-2;
        color: $theme-color;
        font-size: 25px;
    }
    &.blue {
        background-color:  $theme-color-2;
        color: $theme-color;
        font-size: 25px;
    }
}

.carousel-products {

    margin: 60px 25px;

    &.all-items {
        .slide {}
    }

    .slide-item {
        padding: 0 0 65px 0;
    }

    .slide {
        @include bg-default();
        margin: 0 10px;
        height: 270px;
        cursor: pointer;
        position: relative;
        box-shadow: 0 0 0 0 transparent;
        transition: all 1s;

        &:hover {
            box-shadow: 0px 12px 21px -5px rgba(0, 0, 0, 0.75);
            transition: all 500ms;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(20deg, #000, transparent, transparent)
        }

        .slide-content {
            position: absolute;
            padding-left: 5px;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            color: #ffffff;
        }

        .slide-subtitle {
            margin-bottom: 0;
        }

    }
}