
<header class="container-fluid">
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="cover" style="background-image:
                url('./assets/backgrounds/cover-product.jpg')">

            </div>
        </div>
    </div>
</header>

<div class="container-fluid ">

    <div class="row mt-3" *ngIf="categories.length === 1">
        <div class="col-lg-12 px-0 mb-3">
            <div class="category-label white first  ">
                <a href="javascript:void(0)" class="brandcup-item bold" [routerLink]="['/veiculos']">
                    Veículos >
                </a>
                <a href="javascript:void(0)" class="brandcup-item bold" >
                    {{ categories[0].name }} 
                </a>
            </div>
        </div>

        <div class="col-lg-12 font-poppins">
            <div class="category-label bold " >
                {{ categories[0].name }}
            </div>

            <div class="carousel-products all-items">
                <div class="row">
                    <div class="col-lg-3 col-md-10 slide-item" 
                    *ngFor="let product of categories[0].products">
                        <div class="slide" [routerLink]="['/veiculos', product.productID]"
                            [ngStyle]="{'background-image':
                            'url('+product.images[0].url+')'}">
                            <div class="slide-content">
                                <h4 class="slide-title bold"> 
                                    {{ product.title }}
                                </h4>
                                <p class="slide-subtitle text-truncate">
                                    {{ product.subtitle  }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5" *ngIf="categories.length > 1">
        <div class="col-lg-12 px-0 mb-3">
            <div class="category-label dark bold first">
                Novos
            </div>
        </div>
        <div class="col-lg-12 font-poppins"*ngFor="let category of categories">
            <div class="category-label bold"  [ngClass]="{'blue': category.blue_label}" [routerLink]="['/veiculos', {
                category: category.original_name
            }]">
                {{ category.name }}
            </div>
            <div class="carousel-products">
                <ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem class="slide-item" *ngFor="let product of category.products">
                        <div class="slide" [routerLink]="['/veiculos', product.productID]"
                            [ngStyle]="{'background-image':
                            'url('+product.images[0].url+')'}">
                            <div class="slide-content">
                                <h4 class="slide-title bold"> {{ product.title
                                    }}</h4>
                                <p class="slide-subtitle text-truncate">{{
                                    product.subtitle }}</p>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>