<div class="container-fluid">
    <div class="row">
        <div class="col-12 cover" style="background-image: url(./assets/backgrounds/cover-pneus.png)">
        </div>
    </div>
</div>

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-lg-6 col-md-12 infos">
            <h3>Peças e Pneus</h3>
            <h6 class="mt-5">Diferenciais da DIBRACAM na venda de peças e pneus:</h6>
            <ul>
                <li>Preços competitivos e atraentes formas de pagamento</li>
                <li>Frota própria para entregas na grande São Paulo e região</li>
                <li> Somos distribuidores das melhores linhas como: Eaton, Cummins, Meritor, ZF, Fleetguard, MWM, Master, Fras-le, cobreq, Holset</li>
                <li>Garantia de 12 meses em todo território Nacional</li>
                <li>Contamos com telemarketing ativo com profissionais treinados na fábrica VW/MAN</li>
                <li>Despachamos para todo o Brasil</li>
            </ul>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 form">
            <app-form-contact
            [emailConfig]="{
                to_email: 'sergio@dibracam.com.br',
                to_name: 'Dibracam',
                cc_emails: ['nasser@dibracam.com.br', 'ne@dibracam.com.br', 'sergio@dibracam.com.br']
              }"
            titleForm="Preencha com detalhes do seu veículo"
            subject="Pedido de peças/pneus">
            </app-form-contact>
        </div>
    </div>
</div>
