<div class="container-fluid">
    <div class="row">
        <div class="col-12 cover" style="background-image: url(./assets/backgrounds/cover-vender.png)">
        </div>
    </div>
</div>

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-lg-6 col-md-12 infos">
            <h3>Vender</h3>
            <h6 class="mt-5">Tem interesse em vender seu veículo?<br><br>Faça uma avaliação!</h6><br>
            <p>
                Na Dibracam você encontra a melhor avaliação para seu veículo usado. Conheça nosso sistema de gestão de frotas.
            </p>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 form">
            <app-form-contact  
            [emailConfig]="{
                to_email: 'nasser@dibracam.com.br',
                to_name: 'Dibracam',
                cc_emails: ['ne@dibracam.com.br']
            }"
            titleForm="Preencha com detalhes do seu veículo" 
            subject="Proposta de venda">
            </app-form-contact>
        </div>
    </div>
</div>