@import 'variables';
@import 'helpers';

.cover{
    @include bg-default;
    padding: 130px;
}
    
.form{

    @include media-breakpoint-down(md) {


    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(xl) {
        padding: 90px;
        
       
    }

}

form input{
    color: #4E4E4E;
    font-family: Poppins-Regular;
    
}

.form-group{
        
    border-bottom: 1px solid rgba(112,112,112,0.5);

}

.infos h3, h6{

    color: $theme-color-2;
    font-family: Poppins-Bold;
}

.infos p{

    color: $theme-color-1;
    font-family: Poppins-Regular;
  
}


.infos{

    @include media-breakpoint-down(md) {
        padding: 30px;

    }

    @include media-breakpoint-up(md) {
        padding: 30px;
    }

    @include media-breakpoint-up(xl) {
        padding: 70px;
       
    }

}


form{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding: 30px;
    
}

form h5{ 
    color: #D56638;
    font-family: Poppins-Bold;
}

form input{
    color: #4E4E4E;
    font-family: Poppins-Regular;
    
}

.btn-warning {
    color:$theme-color-3;
    background-color: transparent;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
  }
  
  .btn-warning:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
  }

  .btn-warning-1 {
    color: #fff;
    background-color: #D56638;
    border: 1px solid #D56638;
    font-family: Poppins-Bold;
  }
  
  .btn-warning-1:hover {
    color: #D56638;
    background-color: transparent;
    border-color: #D56638;
  }


    