@import 'variables';
@import 'helpers';

footer {
    background-color: $theme-color-2;
    padding: 30px;

}

.logo {

    @include media-breakpoint-down(md) {

        text-align: center;

    }

    @include media-breakpoint-up(md) {

        text-align: center;

    }

    @include media-breakpoint-up(xl) {
        text-align: left;
    }

}


.icons {

    @include media-breakpoint-down(md) {

        text-align: center;
        margin-top: 20px;

    }

    @include media-breakpoint-up(md) {

        text-align: center;
        margin-top: 20px;

    }

    @include media-breakpoint-up(xl) {
        position: relative;
        bottom: 10px;
        text-align: right;
    }

}

.adress {
    h6 {
        color: white;
        font-family: Poppins-Bold;
    }
    p{
        color: white;
        font-family: Poppins-Regular;
    }

    @include media-breakpoint-down(md) {

        text-align: center;

    }

    @include media-breakpoint-up(md) {

        text-align: center;

    }

    @include media-breakpoint-up(xl) {
        text-align: left;
    }
}