<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-12 logo">
        <a routerLinkActive='active' routerLink='/home'>
          <img src="./assets/logos/logo-footer.png" alt="logo-footer">
        </a>
      </div>
      <div class="col-lg-7 col-md-12 adress mt-3">
        <div class="row">
          <div class="col-lg-4 col-md-10">
            <h6>Santo André</h6>
            <p>
              Avenida dos Estados, 1900 Vila Metalúrgica
              CEP: 09220-570.</p>
          </div>
          <div class="col-lg-4 col-md-10">
            <h6>São Paulo</h6>
            <p>
              Av. Corifeu de Azevedo Marques, 345 - Butantã
              CEP: 05339-001</p>
          </div>
          <div class="col-lg-4 col-md-10">
            <h6>Sorocaba <span style="color:#D56638;
                font-family:Poppins-Regular;">(Novo Endereço)</span></h6>
            <p>
              Rodovia Raposo Tavares KM 95 + 405Mts
              Vila Artura
              CEP: 18023-000</p>
          </div>
        </div>

      </div>

      <div class="col-lg-2 col-md-12 icons">
        <!-- <a href="#"><img src="./assets/icons/youtube.png" alt="youtube"></a> -->
        <a href="https://www.facebook.com/dibracamcaminhoes/"><img
            src="./assets/icons/facebook.png" alt="facebook"></a>
        <a href="https://www.instagram.com/vwdibracam/"><img
            src="./assets/icons/instagram.png" alt="instagram"></a>
        <!-- <a href="#"><img src="./assets/icons/linkedin.png" alt="linkedin"></a> -->
      </div>
    </div>
  </div>

</footer>
