
<div class="container-fluid">
    <div class="row">
        <div class="col-12 cover" style="background-image:
            url(./assets/backgrounds/cover-blog.png)">
            <h1>Newsletter DIBRACAM</h1>
            <h3>Lorem Ipsum dolor sit amet dic</h3>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <div class="row">

                <div class="text-left mt-4 post-cover"  
                [routerLink]="['/post', post.blogID]"
                [ngClass]="{'col-lg-12 ': i == 0 ,'col-lg-6': i != 0}" 
                *ngFor="let post of posts; let i = index"
                [ngStyle]="{'background-image':'url('+post.images[0].url+')'}">
                    <div class="post-detail"  >
                        <span *ngIf="post.created_at !== '0000-00-00 00:00:00'" class="text-light">{{ post.created_at | date:'dd-MM-yyyy HH:mm'}}</span>
                        <h2 class="responsive my-1 my-lg-2"> {{ post.title }}</h2>
                        <small class="text-uppercase">{{ post.category.split(' ')[1] }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-center mt-5" *ngIf="posts.length < 1">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 mt-5">
            <nav id="paginator" class="text-center">
                <!-- pager -->
                <ul *ngIf="pager.pages_qtd && pager.total_pages"
                    class="paginator-list"
                    [ngStyle]="{'padding-inline-start': '0px'}">
                    <!-- <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li> -->
                        <li [ngClass]="{disabled:pager.current_page === 1}"
                        class="page-item">
                            <a (click)="setPage(pager.current_page - 1); changePage(pager.current_page - 1)"
                                class="paginator-link">
                                <
                            </a>
                        </li>
                        <li *ngFor="let page of pager.pages_qtd"
                            class="page-item"
                            [ngClass]="{active:pager.current_page === page,  disabled:pager.current_page === page }"
                            (click)="changePage(page); setPage(page)" >
                            <a class="paginator-link">{{ page }}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.current_page === pager.total_pages}"
                            class="page-item">
                            <a (click)="setPage(pager.current_page + 1)"
                                (click)="changePage(pager.current_page + 1)"
                                class="paginator-link">
                                >
                            </a>
                        </li>
                        <!-- <li [ngClass]="{disabled:pager.current_page === pager.total_pages}">
                                <a (click)="setPage(pager.total_pages)">Last</a>
                            </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <app-newsletter></app-newsletter>