@import 'helpers';
@import 'variables';

.cover, .post-item{
    @include bg-default;
    background-repeat: no-repeat;
    
}
.cover h1{
    padding-top:25%;
    color: $theme-color;
    font-family: Poppins-Bold;
}
.cover h3{
    color: $theme-color;
    font-family: Poppins-Regular;
}

.post-cover{
    position: relative;
    width: 100%;
    background-repeat:no-repeat;
    transition: all 1s;
    @include media-breakpoint-down(md) {
        background-size: cover;
        background-position: center;
        padding:120px 0;
        
    }

    @include media-breakpoint-up(md) {
        background-size: cover;
        background-position: center;
        padding:130px 0;
     
    }

    @include media-breakpoint-up(lg) {
        background-size: 100%;
        background-position: 100% 100%;
        padding:180px 0;
       
    }

    small{
        color: #fff;
    }

    h2{
        color: #fff;
    }

    &:hover  {
        box-shadow: 1px 1px 15px 0px #000;
        
        @include media-breakpoint-up(md) {
            background-size: 120%;
        }
        cursor: pointer;
        transition: box-shadow 0.5s, background-size 1s;
    }

    .post-detail {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 95%;
    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(35deg, #000, transparent, transparent, transparent)
    }
}


.content{
    @include media-breakpoint-down(md) {
    
    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(xl) {

       
    }
}




#paginator {
    .paginator-list {
        list-style: none;
        display: inline-block;
        padding-inline-start: 0px;

    }

    .page-item {
        display: inline;
        padding: 10px;
        margin: 5px;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: all 0.1s ease-out;
        &:hover {
            cursor: pointer;
        }
        &.active, &:hover {
            background: transparent;
            color: darken( $theme-color-3, 10%);
        }
        &.active .paginator-link, &:hover .paginator-link{
            font-family: 'Poppins-Bold';
            color: darken( $theme-color-3, 10%);
        }
        &.disabled {
            pointer-events: none;
            cursor: default;
        }
       
        &:first-child, &:last-child{
            border: none;
            margin: 0px;
        }
    }

    .paginator-link {
        padding: 5px;
        color:  $theme-color-3;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Poppins-Bold';
        &.previous, &.next {
            position: relative;
        }
        &.previous::before {
            content: '<';
        }
        &.next::before {
            content: '>';
        }
    }
    
}
