<header class="container-fluid">
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="cover" style="background-image:url('./assets/backgrounds/cover-product.jpg')">
            </div>
        </div>
    </div>
</header>
<div class="infos" *ngIf="product.productID">
    <a [routerLink]="['/veiculos']">
        Veículos >
    </a>
    <a [routerLink]="['/veiculos', {category: product.category}]">
        {{ product.category.split(' ')[1] }} >
    </a>
    <a href="javascript:void(0)">
        {{ product.title }}
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="row">
                <div class="veiculo col-12" *ngIf="product.productID">
                    <img class="w-100" [src]="mainPhoto" alt="veiculo">
                </div>

                <div class="col-lg-12 mt-2">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem class="slide-item">
                            <img class="w-100" [src]="product.images[0].url" alt="Veiculo principal">
                        </div>
                        <div ngxSlickItem class="slide-item" *ngFor="let photo
                            of product.photos">
                            <img class="w-100" [src]="photo.path" [alt]="photo.name">
                        </div>
                    </ngx-slick-carousel>
                </div>

            </div>
            <div class="col-12 text-left cor">
                <span>
                    Cores:
                    <span class="cor ml-3" [ngStyle]="{'background-color': color
                        }" *ngFor="let color of product.colors">

                    </span>
                <sub class="ml-3">*</sub>
                <p class="mt-4">*Cores sujeitas à disponibilidade</p>
                <button (click)="download()" class="btn btn-warning rounded-2 py-2 text-center mt-2 text-uppercase" >
                    Baixar ficha técnica
                </button>
                </span>

            </div>

        </div>
        <div class="col-lg-7 col-md-12 descricao">
            <h1>{{ product.title }}</h1>
            <div [innerHTML]="product.description">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 test-drive">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center w-100" style="background-image:
                    url('./assets/photos/test-1.jpg')">
                    <h2 class="text-uppercase">Conheça o {{ product.title }}</h2>
                    <div class="col-12 text-center mx-auto mt-5 pt-2">
                        <h3 class="text-uppercase ">Agende um Test-Drive</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <app-form-contact 
                    [emailConfig]="emailConfig"
                    titleForm="Proposta de compra" 
                    [subject]="product.title + ' - Proposta de compra'"
                    buttonText="Solicitar especificações" 
                    [download]="{file: product.datasheet, name: product.title + '-Especificações Técnicas'}">
                    </app-form-contact>
                </div>
            </div>
        </div>
    </div>
</div>