@import 'variables';
@import 'helpers';

.cover {
    min-height: 60vh;
    @include bg-default();
}

.infos{
    a {
        color: $theme-color-3;
        font-family: Poppins-Regular;
    }
    padding: 30px;
}
.descricao{
    padding: 30px;
    h1{
        color: $theme-color-2;
        font-family: Poppins-bold;

    }

    p{
        color: $theme-color-1;
        font-family: Poppins-Regular;
   
    }

}

.slide-item {
    cursor: pointer;
    margin: 0 10px;
    img {
        height: 200px;
        object-fit: contain;
    }
}

.cor{
    padding: 20px;
    span{
        font-family: Poppins-Bold;
        color: $theme-color-2;
        font-size: 22px;
    }
    p{
        font-family: Poppins-Bold;
        color: $theme-color-2;
        font-size: 12px;
    }
    .cor {
        border: 1px solid #707070;
        border-radius: 5px;
        padding: 5px 20px;
    }
 
}

.test-drive{

    padding: 50px;
    h2, h3{
        background-color:  $theme-color-3;
        color: white;
        font-family: Poppins-Bold;
        width: 100%;
        margin-top: 10%;
    }
    a{
        margin-top: 50%;
    }

}




.btn-warning {
    color:$theme-color-3;
    background-color: transparent;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
  }
  
  .btn-warning:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
  }