<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0 overflow-hidden carousel-home">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem class="cover" *ngFor="let photo of carousel.photos"
                    [ngStyle]="{'background-image': 'url('+photo.path+')'}" (click)="go(photo)">
                </div>
            </ngx-slick-carousel>
            <!-- <span class="cover-2">
                <h1 class="text-w">Nova família delivery</h1>
                <h3>Conheça nossa linha completa de produtos</h3>
            </span> -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 produtos">
            <h2>Nossos Produtos</h2>
            <div class="row pt-3">
                <div class="col-md-2 mx-auto" *ngFor="let category of categories">
                    <a [routerLink]="['/veiculos']" class="product-item">
                        <img [src]="category.cover?.path" [alt]="category.name">
                    </a>
                </div>
                <!-- <div class="col-md-2 mx-auto" >
                    <a routerLink='/veiculos' class="product-item">
                        <img src="./assets/photos/semi-novos.png"
                            alt="semi-novos">
                    </a>
                </div>
                <div class="col-md-2 mx-auto" >
                    <a routerLink='/veiculos' class="product-item">
                        <img src="./assets/photos/locacao.png"
                            alt="locação">
                    </a>
                </div>
                <div class="col-md-2 mx-auto" >
                    <a routerLink='/veiculos'  class="product-item">
                        <img src="./assets/photos/onibus.png"
                            alt="onibus">
                    </a>
                </div> -->


                <div class="col-md-2 mx-auto">
                    <a routerLink='/pneus' class="product-item">
                        <img src="./assets/photos/pecas.png" alt="pecas">
                    </a>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 text-center mx-auto pt-2">
                    <a routerLink='/veiculos' class="btn btn-warning rounded-1
                        text-uppercase text-center"> Ver todos os Produtos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 company">
            <h2>A Dibracam</h2>
            <div class="row">
                <div class="col-lg-6 col-md-12 video text-center">
                    <iframe class="video-caixa" src="https://www.youtube.com/embed/hBnMJpnBPU0" frameborder="0"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 col-md-12 infos">
                    <p>
                        A Dibracam Comercial Ltda., concessionária MAN LATIN
                        AMERICA, sediada em Santo André, com filiais em São
                        Paulo e Sorocaba, conta com uma equipe de profissionais
                        especializados em apresentar o melhor veículo para o seu
                        negócio.<br />
                        <br />Possui uma equipe de vendas treinada e
                        excelente estrutura de atendimento, ampla
                        oficina com equipamentos de alta tecnologia e um
                        completo estoque de peças e acessórios originais
                        Volkswagen.
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mx-auto pt-4">
                            <a routerLink='/adibracan' class="btn
                                        btn-warning rounded-1 text-uppercase
                                        text-center">Conheça Nossa História</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<app-newsletter></app-newsletter>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-lg-12 col-md-12 px-0 mt-3 carrossel">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem class="slide-item" *ngFor="let post of posts">
                            <div class="slide" [routerLink]="['/post', post.blogID]" [ngStyle]="{'background-image':
                                        'url('+post.images[0].url+')'}">
                                <div class="slide-content">
                                    <h4 class="slide-title bold"> {{ post.title
                                                }}</h4>
                                    <p class="slide-subtitle text-truncate">{{
                                                post.subtitle }}</p>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="col-lg-12 mt-3 text-center">
                    <a routerLink='/blog' class="btn btn-warning rounded-1
                            text-uppercase text-center mb-3">Veja mais Conteúdos</a>
                </div>
            </div>

        </div>

    </div>
</div>
