@import 'helpers';
@import 'variables';



.cover {
    @include bg-default;

    @include media-breakpoint-down(md) {
        height: 50vh;
    }

    @include media-breakpoint-up(md) {
        height: 60vh;

    }

    @include media-breakpoint-up(xl) {
        height: 75vh;

    }

    cursor: pointer;

}

.cover-2 {
    position: absolute;
    z-index : 10;
    bottom  : 100px;
    cursor: pointer;
    left    : 100px;
}

.cover-2 h1 {
    color      : $theme-color;
    font-family: Poppins-Bold;

    @include media-breakpoint-down(md) {
        font-size  : 28px;
        padding-top: 74%;
    }

    @include media-breakpoint-up(md) {
        font-size  : 34px;
        padding-top: 50%;
    }

    @include media-breakpoint-up(xl) {
        font-size  : 42px;
        padding-top: 28%;
    }

}

.cover-2 h3 {
    color      : $theme-color;
    font-family: Poppins-Regular;

    @include media-breakpoint-down(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(md) {
        font-size: 20px;

    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }
}

.produtos {
    padding: 50px;

}

.produtos h2 {
    font-family: Poppins-Bold;
    color      : $theme-color-2;
}

.company h2 {
    font-family: Poppins-Bold;
    color      : $theme-color-2;
}


.produtos .product-item {
    margin : 0px;
    display: block;

    img {
        width     : 100%;
        // height : 300px;
        object-fit: contain;
    }
}


.produtos img {
    transform : scale(1);
    transition: all (1s);

    &:hover {
        transform : scale(1.05);
        transition: all (400ms);
        box-shadow: -1px 0px 2px 2px rgba(0, 0, 0, 0.51);
    }
}





p {
    color: $theme-color-1;
}

.company {
    padding: 50px;
}


.infos p {
    font-family: Poppins-Regular;
}




.produtos img {

    @include media-breakpoint-down(md) {
        width: 99%;

    }

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(xl) {}

}


.infos {

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(xl) {
        padding: 80px 10px;
    }

}

.video {

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(xl) {
        padding: 80px 10px;

    }

}

.video-caixa {

    @include media-breakpoint-down(md) {
        height : 350px;
        width  : 100%;
        padding: 30px 0px;

    }

    @include media-breakpoint-up(md) {
        height: 400px;
        width : 100%;


    }

    @include media-breakpoint-up(xl) {
        height: 415px;
        width : 100%;

    }

}

.btn-warning {
    color           : $theme-color-3;
    background-color: transparent;
    border-color    : $theme-color-3;
    font-family     : Poppins-Bold;
    padding         : 10px 60px;
}

.btn-warning:hover {
    color           : $theme-color;
    background-color: $theme-color-3;
    border-color    : $theme-color-3;
}

.slide {
    height           : 400px;
    position         : relative;
    background-repeat: no-repeat;
    background-size  : cover;
    cursor           : pointer;

    .slide-title {
        font-family: Poppins-Bold;

        @include media-breakpoint-down(md) {
            font-size: 22px;


        }

        @include media-breakpoint-up(md) {
            font-size: 25px;



        }

        @include media-breakpoint-up(xl) {
            font-size: 38px;


        }
    }

    .slide-subtitle {
        color      : #fff;
        font-family: Poppins-Regular;

        @include media-breakpoint-down(md) {
            font-size: 18px;


        }

        @include media-breakpoint-up(md) {
            font-size: 22px;



        }

        @include media-breakpoint-up(xl) {
            font-size: 25px;


        }
    }

    .slide-content {
        position    : absolute;
        bottom      : 0;
        left        : 0;
        width       : 100%;
        color       : #fff;
        text-align  : left;
        padding-left: 19px;
    }
}