<div class="super-center h-50" *ngIf="loading">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="super-center h-50" *ngIf="submited && !loading">
    <div class="info">
        <h4>Obrigado por entrar em contato. ; )</h4>
    </div>
</div>
<form [formGroup]="form"  (submit)="send()" class="w-100 mt-3 mx-auto  text-right" *ngIf="!loading || submited">
    <h5 class="pb-4 pt-2 text-left text-uppercase">{{ titleForm }}</h5>
    <div class="form-group">
        <input type="text" class="form-control bg-color-form
          rounded-0
          border-0" formControlName="name" placeholder="Nome" required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control
          bg-color-form rounded-0
          border-0" formControlName="email" placeholder="Email" required>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control
                  bg-color-form rounded-0
                  border-0" formControlName="cel" placeholder="Telefone / Celular" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="form-group">
                <input type="text" class="form-control
                  bg-color-form rounded-0
                  border-0" placeholder="Cidade"
                  formControlName="city"
                  required>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <select formControlName="uf" class="form-control bg-color-form rounded-0 border-0" required>
                  <option value="">UF</option>
                  <option *ngFor="let locale of locales"  [value]="locale.uf" >
                    {{ locale.uf }} - {{ locale.name }}
                  </option>
              </select>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12 text-left">
            <span style="font-family:Poppins-Bold;color:#6A6A6A;">Veículos</span>
        </div>
    </div>
    <div class="row" formGroupName="vehicle">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control bg-color-form rounded-0  border-0"
                placeholder="Marca"
                formControlName="brand"
                required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control  bg-color-form rounded-0 border-0"
                 placeholder="Modelo"
                 formControlName="model"
                 required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control  bg-color-form rounded-0 border-0"
                    placeholder="Chasi"
                    formControlName="chassi"
                    required>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12 text-left">
            <span class="title-section" *ngIf="titleForm.includes('Proposta de compra'); else othersForm">
                Comentario adicionais
            </span>
           <ng-template #othersForm>
               <span class="title-section">
                    Descrição da Peça
               </span>
           </ng-template>

        </div>
    </div>

    <div class="form-group">
        <textarea  class="form-control bg-color-form rounded-0"
        formControlName="aditional"
        cols="30"
        rows="4"
        placeholder=""
        required></textarea>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="campo_form">
                <button type="submit" [disabled]="form.invalid" class="btn btn-warning-1 rounded-2 py-3 text-center btn-block mt-2  text-uppercase w-100">
                    {{ buttonText }}
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="campo_form">
                <button (click)="form.reset()" type="button" class="btn btn-warning
                  rounded-2 py-3
                  text-center btn-block mt-2
                  text-uppercase w-100">Limpar</button>
            </div>
        </div>
    </div>



</form>
