@import 'variables';
@import 'helpers';
.form {
    padding: 90px;
}



form {
    h5 {
        font-family: Poppins-Bold;
        color: $theme-color-3;
    }
    input {
        color: #4E4E4E;
        font-family: Poppins-Regular;
    }
}

.title-section {
    font-family: Poppins-Regular;
    color: #6A6A6A;
}

.form-group {
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
}

.btn-warning {
    color: $theme-color-3;
    background-color: transparent;
    border-color: $theme-color-3;
    font-family: Poppins-Bold;
    padding: 10px 60px;
}

.btn-warning:hover {
    color: $theme-color;
    background-color: $theme-color-3;
    border-color: $theme-color-3;
}

.btn-warning-1 {
    color: #fff;
    background-color: #D56638;
    border: 1px solid #D56638;
    font-family: Poppins-Bold;
}

.btn-warning-1:hover {
    color: #D56638;
    background-color: transparent;
    border-color: #D56638;
}

.btn-warning-3 {
    color: $theme-color-3;
    background-color: white;
    border: 1px solid #D56638;
    font-family: Poppins-Bold;
    padding: 10px 100px;
}



.super-center {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}