@import 'variables';
@import 'helpers';

@include font-face('Poppins-Bold', './assets/fonts');
@include font-face('Poppins-Regular', './assets/fonts');
@include font-face('Asap-Regular', './assets/fonts');

body::-webkit-scrollbar-track {
    background-color: $theme-color-2;
}

body::-webkit-scrollbar {
    width: 6px;
    background: $theme-color-2;
}

body::-webkit-scrollbar-thumb {
    background: $theme-color-3;
}



.font-poppins {

    font-family: 'Poppins-Regular';

    &.bold {
        font-family: 'Poppins-Bold';
    }

    &.regular {
        font-family: 'Poppins-Regular';
    }


}

.font-asap {
    font-family: 'Asap-Regular';
}

.carousel-products {
    .slick-prev {
        border-width: 15px 20px 15px 0;
        border-color: transparent  $theme-color-2 transparent transparent;
    }

    .slick-next {
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent  $theme-color-2;
    }

    .slick-prev,
    .slick-next {
        top: 40%;
        background-color: transparent;
        width: 0;
        height: 0;
        border-style: solid;


        &::before, &::after  {
            content: none;
        }
        
    }
}

figure.image {
    text-align: center;
    img {
        min-width: 150px;
        min-height: 150px;
        object-fit: contain;
    }
} 

.carousel-home {
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: 15px;
        z-index: 999;
    }
}

