<div class="container-fluid">
    <div class="row newsletter-cover" style="background-image:url(./assets/photos/news.png);">
        <div class="col-lg-8 col-md-12 news">
            <h4>Inscreva-se em nossa newsletter exclusiva e receba nossos informativos!</h4>
            <form action="send.php" method="post" enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control bg-color-form rounded-0 border-0 w-100" name="contato-nome" id="contato-nome" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="campo_form">
                            <button type="submit" class="btn btn-warning-1 rounded-0 text-uppercase w-100 text-center btn-block ">Inscreve</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>