@import 'variables';
@import 'helpers';
.cover {
    @include bg-default;
}

.news {
    padding: 40px;
    @include media-breakpoint-down(md) {
        text-align:center;
    }

    @include media-breakpoint-up(md) {
        text-align:center;

    }

    @include media-breakpoint-up(xl) {
        text-align:left;
    }
}

.news h4 {
    color: $theme-color;
    font-family: Poppins-Bold;
}

.btn-warning {
    color: #D56638;
    background-color: transparent;
    border-color: #D56638;
    font-family: Poppins-Bold;
}

.btn-warning:hover {
    color: #fff;
    background-color: #D56638;
    border-color: #D56638;
}

.btn-warning-1 {
    color: #D56638;
    background-color: #fff;
    font-family: Poppins-Bold;
}

.btn-warning-1:hover {
    color: #fff;
    background-color: #D56638;
    border-color: #D56638;
}

.newsletter-cover {
    background-repeat: no-repeat;
    background-size: cover;
}